.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.experience__details{
    display: grid;
    justify-items: center;
    justify-content: center;
}

.spacing{
    margin-bottom: 1rem;
}

.text-light {
    color: #a6b3c4;
    margin-top: 0;
}

/* Media queries for medium devices(Tablets) */
@media screen and (max-width: 1024px) {

    .experience__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* Media queries for small devices(Mobiles) */
@media screen and (max-width: 600px) {

    .experience__container{
        grid-template-columns: 1fr 1fr;
    }

}